@import '../../../assets/styles/variables';

.category {
  &-container {
    display: inline-flex;
    padding: 8px 16px;
    background: $category-bg-color;
    border-radius: 10px;
    border: 1px solid $category-border-color;
    font-weight: 500;
    cursor: pointer;
  }

  &-container:hover {
    background-color: darken($category-bg-color, 3%);
  }
}
