<!-- If we are loading the data -->
<ng-container *ngIf="loading">
    <p>Loading...</p>
</ng-container>

<!-- If we got the product from the backend -->
<ng-container [formGroup]="form" *ngIf="!loading && !error">
    <img [src]="form.get('image_url')?.value" alt="Product image">

    <p *ngIf="!editMode">Name: {{ form.get('name')?.value }}</p>

    <ng-container *ngIf="editMode">
        <label for="name">Name</label>
        <input type="text" formControlName="name">
    </ng-container>

    <p>
        "category": <app-category>{{form.get('category')?.value}}</app-category>
    </p>
    
    <p>
        "description": {{form.get('description')?.value}},
    </p>

    <ng-container *ngIf="!editMode">
        <p>Price: {{ form.get('price')?.value | currency: 'USD' }}</p>
    </ng-container>
    <ng-container *ngIf="editMode">
         <label for="price">Price</label>
         <input type="number" formControlName="price">
     </ng-container>

    <button (click)="switchEditMode()" *ngIf="!editMode">Enable Edit mode</button>
    <button (click)="updateProduct()" *ngIf="editMode">Save changes</button>

</ng-container>

<!-- If we got an error-->
<ng-container *ngIf="!loading && error">
    <p>{{ error }}</p>
</ng-container>

<!-- Go back button to return to the product list-->
<button routerLink="/products">Go back</button>