<!-- If we are loading the data -->
<ng-container *ngIf="loading">
    <p>Loading...</p>
</ng-container>

<!-- If we got an error-->
<ng-container *ngIf="!loading && error">
    <p>{{ error }}</p>
</ng-container>

<div class="card-container" *ngIf="!loading && !error">
    <div class="card-box">
        <div class="product-image mb-15">
            <img [src]="form.get('image_url')?.value" alt="Product image">
        </div>

        <div class="product-title mb-15">
            <span *ngIf="!editMode">{{ form.get('name')?.value }} <img class="icon" src="assets/images/pencil.svg" (click)="switchEditMode()" *ngIf="!editMode"></span>

            <ng-container *ngIf="editMode">
                <form [formGroup]="form">
                    <input type="text" formControlName="name">
                </form>
            </ng-container>
        </div>

        <div class="product-category mb-15">
            <app-category>{{form.get('category')?.value}}</app-category>
        </div>

        <div class="product-description mb-15">
            {{form.get('description')?.value}}
        </div>

        <div class="product-price mb-15">
            <ng-container *ngIf="!editMode">
                <span>{{ form.get('price')?.value | currency: 'USD' }}</span>
            </ng-container>
            <ng-container *ngIf="editMode">
                <form [formGroup]="form">
                    <input type="number" formControlName="price">
                </form>
            </ng-container>
        </div>

        <div class="product-card-button">
            <!-- Go back button to return to the product list -->
            <button class="outlined" routerLink="/products">Go back</button>
            <!-- Save button to save the changes done in the form-->
            <button (click)="updateProduct()" *ngIf="editMode">Save changes</button>
        </div>
    </div>
</div>
